@model IEnumerable<Natillera.Models.ControlPagos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>
    @using Microsoft.AspNet.Identity
    @if (Request.IsAuthenticated && (User.Identity.GetUserName().Equals("alex-12-04@hotmail.com")))
    {
        @Html.ActionLink("Create New", "Create")
    }
</p>
@if (Request.IsAuthenticated)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.usuario.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th></th>
            
        </tr>
       
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.usuario.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Valor)
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) 
                </td>
                @if (Request.IsAuthenticated && (User.Identity.GetUserName().Equals("alex-12-04@hotmail.com")))
                {
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) 

                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                }
            </tr>
        }               
    </table>
    <p>Acumulado @ViewBag.total</p>
}